<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agilesoftware.misforuniversity">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mislogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.agilesoftware.misforuniversity.UpdateStudent"></activity>
        <activity android:name="com.agilesoftware.misforuniversity.UpdateFaculty" />
        <activity android:name="com.agilesoftware.misforuniversity.ManageStudents" />
        <activity android:name="com.agilesoftware.misforuniversity.ManageFaculties" />
        <activity android:name="com.agilesoftware.misforuniversity.AddNoticeActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.ViewNoticesActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.WhatsAppActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.EmailActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.MessageActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.AttendanceDisplayActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.UpdateAttendanceActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.UpdateResultActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.AddNewCourse" />
        <activity android:name="com.agilesoftware.misforuniversity.StudentHomePage" />
        <activity android:name="com.agilesoftware.misforuniversity.FacultyHomePage" />
        <activity android:name="com.agilesoftware.misforuniversity.ResetPasswordActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.StudentRegistration" />
        <activity android:name="com.agilesoftware.misforuniversity.FacultyRegistration" />
        <activity android:name="com.agilesoftware.misforuniversity.AdminHomePage" />
        <activity android:name="com.agilesoftware.misforuniversity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.agilesoftware.misforuniversity.ListViewActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.SpinnerCourseActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.WebViewActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.CalculatorActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.ContactActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.AfterLoginActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.RegistrationActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.RelativeLoginActivity" />
        <activity android:name="com.agilesoftware.misforuniversity.ResultDisplayActivity" />
    </application>

</manifest>